
.container {
    min-height: 500px;
    max-width: 900px;
    text-align: center;
    padding: 50px;
}

.fixed-width {
    min-width: 400px;
    margin-left: 20px;
    margin-right: 35px;
}

.min-height {
    min-height: 150px;
}