<div class="container cord" style="text-align: center;padding:30px;background-color:white;">
  <div mat-dialog-title style="padding: 15px;">
    <h1 class="text-center">Slot Configuration</h1>
  </div>


  <form [formGroup]="slotConfigurationForm" (ngSubmit)="onFormSubmit()">
    <div style="text-align: left;margin-left: 40px;">

      <mat-error
        *ngIf="slotConfigurationForm.get('endTime')?.hasError('startTimeandendTimeError')&&slotConfigurationForm.get('startTime')?.hasError('startTimeandendTimeError')">
        End date must be greater than start date
      </mat-error>
      <mat-error
        *ngIf="slotConfigurationForm.get('endTime')?.hasError('startTimeandendTimeEqualError')&&slotConfigurationForm.get('startTime')?.hasError('startTimeandendTimeEqualError')">
        start time and end time not be equal
      </mat-error>

    </div>
    <div mat-dialog-content class="d-flex flex-row">
      <div class="column">

        <!-- Doctor name-->
        <mat-form-field appearance="outline" class="fixed-width">
          <mat-label>Doctor Name</mat-label>
          <mat-select formControlName="doctorName">
            <mat-option *ngFor="let doctor of doctorData" [value]="doctor">{{doctor.firstName+'
              '+doctor.lastName}}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Specialization -->
        <mat-form-field appearance="outline" class="fixed-width">
          <mat-label>Specialization</mat-label>
          <mat-select formControlName="doctorSpecialization">
            <mat-option *ngFor="let specialization of specializationData"
              [value]="specialization">{{specialization.specializationName}}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Date -->
        <mat-form-field appearance="outline" class="fixed-width">
          <mat-label>Select a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="slotDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      
      <div class="column">
      <!-- Start Time 24hr -->
      <ng-container *ngIf="showDefaultTimeFormat; else otherContent1">
        <mat-form-field appearance="outline" class="fixed-width">
          <mat-label>Start Time</mat-label>
          <input matInput type="time" formControlName="startTime">
        </mat-form-field>
      </ng-container>

      <!-- End Time 24hr -->
      <ng-container *ngIf="showDefaultTimeFormat; else otherContent2">
        <mat-form-field appearance="outline" class="fixed-width">
          <mat-label>End Time</mat-label>
          <input matInput type="time" formControlName="endTime">
        </mat-form-field>
      </ng-container>

      <!-- Start Time 12hr -->
      <ng-template #otherContent1>
        <mat-form-field appearance="outline" class="fixed-width">
          <mat-label>Start Time</mat-label>
          <input matInput type="text" [value]='"00:00 AM"' pattern="^(0?[1-9]|1[0-2]):[0-5][0-9] [APap][mM]$"
            formControlName="startTime" maxlength="8" placeholder="hh:mm AM/PM">
        </mat-form-field>
      </ng-template>


      <!-- End Time 12hr -->
      <ng-template #otherContent2>
        <mat-form-field appearance="outline" class="fixed-width">
          <mat-label>End Time</mat-label>
          <input matInput type="text" [value]='"00:00 AM"' pattern="^(0?[1-9]|1[0-2]):[0-5][0-9] [APap][mM]$"
            formControlName="endTime" placeholder="hh:mm AM/PM">
        </mat-form-field>
      </ng-template>

      <div class="column">
        <div formGroupName="slotDetail">


           <ng-container *ngFor="let slot of slotDetailFormArray.controls; let i = index">
            <ng-container [formGroupName]="i">

              <!-- Duration -->
              <mat-form-field appearance="outline" class="fixed-width">
                <mat-label>Duration</mat-label>
                <input matInput type="number" formControlName="slotDuration" placeholder="Duration in minutes">
                <mat-error *ngIf="slot.get('slotDuration')?.hasError('durationError')">
                  Duration cannot be less than or equal to 0.
                </mat-error>
              </mat-form-field>

            </ng-container>
          </ng-container>

        </div>
        </div>
        
      </div>
    </div>

      <div style="text-align: left;margin-left: 40px;">
        <!-- Display the label and the doctorSlotCount value -->
        Total Slots Available: {{ slotConfigurationForm.get('doctorSlotCount')?.value }}
      </div>


    <div style="text-align: left;margin-left: 40px;">
    <mat-chip-listbox aria-label="Fish selection" *ngIf="showSlots == true">
      <mat-chip-option *ngFor="let slot of timeSlots">
        {{ slot.start24Time }} to {{ slot.end24Time }}
      </mat-chip-option>
    </mat-chip-listbox>
    </div>

    <!-- Generate Slots -->
    <div class="text-center mb-3" *ngIf="showSlots == false">
      <button mat-raised-button color="primary" type="button" [disabled]="slotConfigurationForm.invalid"
        (click)="generateTimeSlots()">Generate Slots</button>&nbsp;&nbsp;&nbsp;
    </div>

    <!-- Reset Slots -->
    <div class="text-center mb-3" *ngIf="showSlots == true">
      <button mat-raised-button color="primary" type="button" [disabled]="slotConfigurationForm.invalid"
        (click)="resetSlots()">Reset Slots</button>&nbsp;&nbsp;&nbsp;
    </div>

    <!-- Remarks -->
    <div class>
      <mat-form-field appearance="outline" class="remarks">
        <mat-label>Remarks</mat-label>
        <textarea matInput formControlName="remarks"></textarea>
      </mat-form-field>
    </div>

    <!-- Save_Reset -->
    <div class="text-center mb-3">
      <button mat-raised-button color="primary" type="submit"
        [disabled]="slotConfigurationForm.invalid">Save</button>&nbsp;&nbsp;&nbsp;
      <button mat-raised-button type="reset" color="warn" (click)="resetSlots()">Reset</button>
    </div>
  </form>
</div>