.container {
    // min-width: 350px;
    max-width: 900px;
    min-height: auto;
}

.fixed-width {
    min-width: 350px;
    margin-left:20px;
    margin-right:20px ;
}

.remarks{
    min-width: 768px;
}
    
  
  
  
  
  
  
  
  
  
  
  

